body{
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    box-sizing:border-bpx;
    padding: 0;
    margin: 0;
}

main{
    display:flex;
    flex-direction: column;
    max-width:600px;
    margin:0 auto;
    padding-top:6%;
}
.container{
    display:flex;
    flex-direction:column;
}
button {
    font-size: 1.3em;
    border-radius: 7px;
    margin-top: 1.5em;
    margin-bottom: 2em;
    background-color: #0278ae;
    height: 2.5rem;
    text-decoration: none;
    border:none;
    color:white;
  }
button:hover {
    background-color: #318fb5;
  }
label{
    margin-top:2%;
}
input{
    height:2rem;
    margin-top:2%;
}
h1{
    font-size: 40px;
    text-align: center;
}

h2{
    margin-top: 40px;
}
.bottom{
    display:flex;
    flex-direction:row;
    
}
.result{
    margin-left:10%;
    font-size:1.1rem;
}
footer{
    margin-top:6%;
    text-align:center;
    font-size:1.2rem;
}
